.components-dropdown-container {
  position: relative;
}

.components-dropdown-button {
  border: 1px solid #dadce0;
  border-radius: 8px;
  display: flex;
  gap: 2px;
  padding: 7px 12px;
}

.components-dropdown-button:hover,
.components-dropdown-button-pressed {
  background-color: #dadce0;
  cursor: pointer;
}

.puzzle-piece-icon {
  margin-right: 6px;
}

.components-dropdown-menu {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #dadce0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  left: 50%;
  line-height: 24px;
  gap: 24px;
  position: absolute;
  padding: 16px;
  top: 56px;
  transform: translateX(-50%);
  width: 320px;
}

.components-dropdown-menu:after {
  background-color: white;
  border: 1px solid #dadce0;
  border-bottom: transparent;
  border-right: transparent;
  content: ' ';
  height: 24px;
  left: 50%;
  position: absolute;
  top: -1px;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 24px;
}

.components-dropdown-menu-item-header {
  color: initial;
  font-weight: 600;
  text-decoration: none;
}

.components-dropdown-menu-item-header:hover {
  text-decoration: underline;
}

.components-dropdown-menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.components-menu-item-icon {
  height: 30px;
  width: 30px;
}

.components-dropdown-menu-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.separator {
  background-color: #dadce0;
  height: 1px;
}

.walkthrough-link {
  background: #7371ee;
  border-radius: 50px;
  color: white;
  padding: 8px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.walkthrough-link:hover {
  background: #4643e9;
}

.github-link {
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 8px;
  color: black;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 0 auto;
  padding: 8px;
  text-decoration: none;
  width: 100%;
}

.github-link:hover {
  background-color: #dadce0;
}

.modal {
  align-items: center;
  background-color: transparent;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: auto;
  overscroll-behavior: contain;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
