header {
  align-items: center;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.06);
  display: flex;
  gap: 8px;
  height: 64px;
  justify-content: space-between;
  left: 0;
  padding: 16px;
  position: fixed;
  right: 0;
  top: 0;
  /* Disabling selections, as it conflicts with
    the intended behavior for the document demo. */
  user-select: none;
  z-index: 10;
}

header.dark {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

header .button {
  color: white;
  border-radius: 32px;
  background: #9a6aff;
  display: flex;
  height: 32px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

header .button:hover {
  background: #6949ac;
}

#links {
  display: flex;
  align-items: center;
  gap: 8px;
}
