*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
}

:root {
  --sidebarWidth: 392px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html.cord-sidebar {
  margin-right: 0px;
}

@media all and (min-width: 52.5em) {
  html.cord-sidebar {
    margin-right: var(--sidebarWidth);
  }
}

.playground--content {
  cursor: default;
  display: flex;
  line-height: 24px;
  padding-bottom: 40px;
  margin-top: 58px;
}

.demo-no-header .playground--content {
  margin-top: 0;
}

.playground--content .highlighter-rouge {
  display: contents;
}

.playground--content summary {
  margin-bottom: 8px;
}

.playground--content details {
  margin-left: 24px;
}

.playground--content details li.active {
  max-width: unset;
}

.playground--content #titleEmoji {
  font-size: 55px;
  height: 55px;
  line-height: 48px;
  margin-top: 90px;
}

.playground--content #title {
  margin: 0;
  margin-top: 16px;
  font-weight: 700;
  line-height: 48px;
  font-size: 40px;
  letter-spacing: -0.02em;
  white-space: pre-line;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.playground--content h5 {
  font-weight: 600;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 40px;
}

.playground--content p {
  margin-top: 0;
}

.playground--content .font-large {
  font-size: 24px;
}

.playground--content .font-medium {
  font-size: 16px;
}

.playground--content .launcher-container {
  margin-left: 24px;
  margin-bottom: 16px;
}

.playground--content ol {
  margin-left: 0;
  font-size: 12px;
}

.playground--content ol li {
  margin-bottom: 20px;
}

.playground--content ol li::marker {
  font-size: 16px;
}

@media all and (min-width: 75em) {
  .playground--content ol li::marker {
    font-size: 1em;
  }
}

.playground--content ol li p {
  font-size: 16px;
}

@media all and (min-width: 75em) {
  .playground--content ol li p {
    font-size: 1em;
  }
}

.playground--content ul,
.playground--content ol {
  margin-left: 0;
  font-size: 12px;
}

.playground--content ul li,
.playground--content ol li {
  font-size: 16px;
  margin-bottom: 20px;
}

.playground--content .with-cord-presence {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  width: 824px;
}

.playground--content .with-cord-presence p,
.playground--content .with-cord-presence li {
  max-width: 84ch;
}

.playground--content .with-cord-presence .cord-presence {
  position: absolute;
  left: 20px;
}

.playground--content .with-cord-presence .top-xs {
  margin-top: 4px;
}

.playground--content .with-cord-presence .top-s {
  margin-top: 16px;
}

.playground--content .with-cord-presence .top-m {
  margin-top: 42px;
}

.playground--content .with-cord-presence .top-l {
  margin-top: 42px;
}

#top-right-container {
  position: fixed;
  margin-right: 8px;
  margin-top: 8px;
  z-index: 3;
}
