:root {
  --purple: #9a6aff;
  --purple-dark: #442f71;
  --orange: #fa7351;
  --grey-dark: #2e2e2e;
  --black: #121314;
  --white: #edeff1;
}

.date-range-selector {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 4px 0px 8px;
  width: fit-content;
}

.date-range-selector-option {
  background-color: var(--purple-dark);
  border-radius: 4px;
  border: 0;
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 4px 8px;
}

.date-range-selector-option:hover {
  background-color: var(--purple);
}

.date-range-selector-option-active {
  background-color: var(--purple);
  color: white;
  cursor: default;
}

.date-range-selector-option-active:hover {
  background-color: var(--purple);
}
