@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background: var(--black);
  margin: 0;
  padding: 0;
  padding-top: 73px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#dashboard {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--white);
  max-width: 1200px;
  margin: auto;
}

#dashboard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

#dashboard h1 {
  line-height: 64px;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

#dashboard h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

#dashboard .panel {
  background: var(--grey-dark);
  padding: 40px 139px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

#dashboard .panel h2 {
  margin-bottom: 8px;
}

#dashboard .grid {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: minmax(0, 1fr);
}

#collaboration {
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 1; /* prevents pins from overlaying the dashboard header */
}

.ag-theme-alpine {
  --ag-value-change-value-highlight-background-color: #e37400;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#grid-container {
  height: 400px;
  margin: 0 auto;
}

.cell {
  position: relative;
}

.cell-with-thread {
  border: 2px solid #e37400;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

/* a triangle in CSS placed in the corner of parent */
.cell-with-thread::after {
  content: '';
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: inherit;
  transform: rotate(45deg);
  right: -8px;
  top: -8px;
}

/* when cell is selected, make border of .cell-with-thread smaller */
.ag-theme-alpine
  .ag-ltr
  .ag-cell-focus:not(.ag-cell-range-selected):focus-within
  .cell-with-thread {
  border-width: 1px;
}

/* we don't want gaps between cells */
.ag-theme-alpine .ag-ltr .ag-cell {
  border: none;
}

.action-button,
.cord-button[data-cord-button='open-notification-list'] {
  cursor: pointer;
  max-width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 14px;
  font-family: inherit;
  line-height: 20px;
  border-style: none;
  text-transform: none;
  border-radius: var(--cord-border-radius-medium, var(--cord-space-3xs, 4px));
  padding: 16px;
  color: #1a73e8;
  background-color: #e8f0fe;
  gap: var(--cord-floating-threads-gap, var(--cord-space-3xs, 4px));
}

.action-button:hover,
.cord-button[data-cord-button='open-notification-list']:hover {
  color: white;
  background-color: #1a73e8;
}

.action-button.add-thread {
  color: white;
  background-color: #1a73e8;
}
.action-button.add-thread:hover {
  background-color: #114c99;
  color: white;
}
.action-button.add-thread:active,
.in-thread-mode .action-button.add-thread {
  background-color: #476b9b;
}

.in-thread-mode {
  cursor: url('/images/comment-cursor.svg') 0 34, auto;
}

/* annotatable elements */
.in-thread-mode .over-chart-point,
.in-thread-mode .ag-cell {
  cursor: url('/images/comment-cursor-active.svg') 0 34, auto;
}

.threadlist-container {
  width: 300px;
  background: white;
  border-radius: 4px;
  z-index: 9;
  box-shadow: var(
    --cord-shadow-large,
    0 var(--cord-space-4xs, 2px) var(--cord-space-m, 16px) 0 rgba(0, 0, 0, 0.16)
  );
  border: 1px solid var(--cord-color-base-x-strong, #dadce0);
}

cord-presence-facepile .cord-avatar-container {
  border-radius: 50%;
}

cord-threaded-comments {
  max-height: 400px;
}

cord-notification-list-launcher .cord-button-label {
  font-size: 14px;
}
